<?xml version="1.0"?>
<config>
    <modules>
        <Minkasu_Wallet>
            <version>0.0.0.1</version>
        </Minkasu_Wallet>
    </modules>
    <global>
        <models>
            <minkasu_wallet>
                <class>Minkasu_Wallet_Model</class>
            </minkasu_wallet>
        </models>
        <helpers>
            <minkasu_wallet>
                <class>Minkasu_Wallet_Helper</class>
            </minkasu_wallet>
        </helpers>
        <payment>
            <cc>
                <types>
                    <DN>
                        <code>DN</code>
                        <name>Dinners</name>
                        <order>60</order>
                    </DN>
                    <JSB>
                        <code>JCB</code>
                        <name>JCB</name>
                        <order>70</order>
                    </JSB>
                    <CUP>
                        <code>CUP</code>
                        <name>China Union Pay</name>
                        <order>80</order>
                    </CUP>
                </types>
            </cc>
        </payment>
        <resources>
            <minkasu_wallet_setup>
                <setup>
                    <module>Minkasu_Wallet</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </minkasu_wallet_setup>
        </resources>
        <blocks>
            <minkasu_wallet>
                <class>Minkasu_Wallet_Block</class>
            </minkasu_wallet>
        </blocks>
        <events>
            <checkout_cart_save_after>
                <observers>
                    <minkasu_wallet_save_order_quote_to_session>
                        <type>singleton</type>
                        <class>minkasu_wallet/observer</class>
                        <method>saveOrderQuoteToSession</method>
                    </minkasu_wallet_save_order_quote_to_session>
                </observers>
            </checkout_cart_save_after>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <minkasu_wallet_show_notice>
                        <type>singleton</type>
                        <class>minkasu_wallet/observer</class>
                        <method>showNotice</method>
                    </minkasu_wallet_show_notice>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
        </events>
    </global>
    <frontend>
        <routers>
            <minkasu_wallet>
                <use>standard</use>
                <args>
                    <module>Minkasu_Wallet</module>
                    <frontName>minkasu_wallet</frontName>
                </args>
            </minkasu_wallet>
        </routers>
        <layout>
            <updates>
                <minkasu_wallet>
                    <file>minkasu_wallet.xml</file>
                </minkasu_wallet>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <minkasu_wallet>
                    <file>minkasu_wallet.xml</file>
                </minkasu_wallet>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <contentmanager before="Mage_Adminhtml">Minkasu_Wallet_Adminhtml</contentmanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <minkasu_wallet>
                <mode>0</mode>
                <account_id backend_model="adminhtml/system_config_backend_encrypted"/>
                <active>0</active>
                <gateway_url>https://transactions.minkasu.com</gateway_url>
                <model>minkasu_wallet/payment</model>
                <order_status>pending</order_status>
                <title>Minkasu Smartphone Checkout</title>
                <payment_action>authorize</payment_action>
                <token backend_model="adminhtml/system_config_backend_encrypted"/>
                <estimate_enabled>1</estimate_enabled>
                <address_po_box_enabled>0</address_po_box_enabled>
            </minkasu_wallet>
        </payment>
    </default>
</config>
